[submodule "third-party/GenIO"]
	path = third-party/GenIO
	url = https://github.com/keelanstuart/GenIO
[submodule "third-party/Pool"]
	path = third-party/Pool
	url = https://github.com/keelanstuart/Pool
[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/keelanstuart/glm
[submodule "third-party/mqme"]
	path = third-party/mqme
	url = https://github.com/keelanstuart/mqme
[submodule "third-party/GLlibgen"]
	path = third-party/GLlibgen
	url = https://github.com/keelanstuart/GLlibgen
[submodule "third-party/PowerProps"]
	path = third-party/PowerProps
	url = https://github.com/keelanstuart/PowerProps
[submodule "third-party/tinyxml2"]
	path = third-party/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb
[submodule "third-party/imgui"]
	path = third-party/imgui
	url = https://github.com/keelanstuart/imgui
[submodule "third-party/assimp"]
	path = third-party/assimp
	url = https://github.com/keelanstuart/assimp
	branch = Celerity_Integration
[submodule "third-party/irrXML"]
	path = third-party/irrXML
	url = https://github.com/keelanstuart/irrXML
	branch = Celerity_Integration
