<configuration>
    <resources>
        <textures>
            <paths type="string">./;./assets;./assets/textures;../Samples</paths>
            <extensions type="string">tga;png;jpg;dds;bmp;tif</extensions>
        </textures>
        <models>
            <paths type="string">./;./assets;./assets/models;../Samples</paths>
            <extensions type="string">fbx;gltf;glb;obj;3ds;dae;x</extensions>
        </models>
        <shaders>
            <paths type="string">./;./assets;./assets/shaders;../Samples</paths>
            <extensions type="string">vsh;fsh;gsh;esh;tsh</extensions>
        </shaders>
        <rendermethods>
            <paths type="string">./;./assets;./assets/shaders;../Samples</paths>
            <extensions type="string">c3rm</extensions>
        </rendermethods>
        <prototypes>
            <paths type="string">./;./assets;../Samples</paths>
            <extensions type="string">c3protoa</extensions>
        </prototypes>
        <scripts>
            <paths type="string">./;./assets;./assets/scripts;../Samples</paths>
            <extensions type="string">c3js</extensions>
        </scripts>
        <animstates>
            <paths type="string">./;./assets;./assets/animations;../Samples</paths>
            <extensions type="string">c3states</extensions>
        </animstates>
        <levels>
            <paths type="string">./;./assets;./assets/levels;../Samples</paths>
            <extensions type="string">c3o</extensions>
        </levels>
        <sound>
            <paths type="string">./;./assets;./assets/sound;../Samples</paths>
            <extensions type="string">wav;mp3;flac</extensions>
        </sound>
        <packfiles>
            <paths type="string">./;./assets;./assets/models;./assets/textures;./assets/shaders;./assets/scripts;./assets/animations;./assets/sounds;./assets/levels;../Samples</paths>
            <extensions type="string">zip;c3z</extensions>
            <archives/>
        </packfiles>
        <plugin>
            <path type="string">./</path>
        </plugin>
    </resources>
    <graphics>
        <blurcount value="4" type="int"/>
    </graphics>
    <window>
        <rect left="206" top="123" right="1675" bottom="996" type="rect"/>
    </window>
    <debug>
        <renderdoc>
            <path type="string">C:/Program Files/RenderDoc</path>
        </renderdoc>
    </debug>
</configuration>
