<configuration>
    <resources>
        <packfiles>
            <paths type="string">./;./assets;./assets/models;./assets/textures;./assets/shaders;./assets/scripts;./assets/animations;./assets/sounds;./assets/levels;../Samples</paths>
            <extensions type="string">zip;c3z</extensions>
            <packfile type="string">Vehicles.c3z</packfile>
            <packfile/>
        </packfiles>
        <textures>
            <paths type="string">./;./assets;./assets/textures;../Samples</paths>
            <extensions type="string">tga;png;jpg;dds;bmp;tif</extensions>
        </textures>
        <models>
            <paths type="string">./;./assets;./assets/models;../Samples</paths>
            <extensions type="string">fbx;gltf;glb;obj;3ds;dae;x</extensions>
        </models>
        <shaders>
            <paths type="string">./;./assets;./assets/shaders;../Samples</paths>
            <extensions type="string">vsh;fsh;gsh;esh;tsh</extensions>
        </shaders>
        <rendermethods>
            <paths type="string">./;./assets;./assets/shaders;../Samples</paths>
            <extensions type="string">c3rm</extensions>
        </rendermethods>
        <prototypes>
            <paths type="string">./;./assets;../Samples</paths>
            <extensions type="string">c3protoa</extensions>
        </prototypes>
        <animations>
            <paths type="string">./;./assets;./assets/animations;../Samples</paths>
            <extensions type="string">c3anim;xaf</extensions>
        </animations>
        <animstates>
            <paths type="string">./;./assets;./assets/animations;../Samples</paths>
            <extensions type="string">c3states</extensions>
        </animstates>
        <scripts>
            <paths type="string">./;./assets;./assets/scripts;../Samples</paths>
            <extensions type="string">c3js</extensions>
        </scripts>
        <sounds>
            <paths type="string">./;./assets;./assets/sounds;../Samples</paths>
            <extensions type="string">wav;mp3;ogg</extensions>
        </sounds>
        <packfiles/>
        <plugin>
            <path type="string">./</path>
        </plugin>
    </resources>
    <debug>
        <renderdoc>
            <capture_initialization value="true" type="bool"/>
            <path type="string">C:/Program Files/RenderDoc</path>
        </renderdoc>
    </debug>
    <environment>
        <editordraw value="true" type="bool"/>
        <movement>
            <speed type="float" value="7"/>
        </movement>
        <advancetime value="true" type="bool"/>
        <active>
            <tool value="4" type="int"/>
            <axis>
                <translation value="3" type="int"/>
                <rotation value="4" type="int"/>
                <scale value="3" type="int"/>
            </axis>
        </active>
        <hoverinfo value="false" type="bool"/>
        <camera>
            <lockroll value="true" type="bool"/>
        </camera>
        <sensitivity>
            <translation type="float" value="0.1"/>
            <rotation type="float" value="0.1"/>
            <scale type="float" value="0.1"/>
        </sensitivity>
    </environment>
    <properties>
        <showhidden value="true" type="bool"/>
    </properties>
    <gui>
        <resource_path_editor>
            <selection value="0" type="int"/>
        </resource_path_editor>
    </gui>
</configuration>
