<configuration>
    <resources>
        <packfiles>
            <paths type="string">./;./assets;./assets/models;./assets/textures;./assets/shaders;./assets/scripts;./assets/animations;./assets/sounds;./assets/levels;../Samples</paths>
            <extensions type="string">zip;c3z</extensions>
            <archives>
                <packfile type="string">hexagons.c3z</packfile>
                <packfile type="string">vehicles.c3z</packfile>
            </archives>
        </packfiles>
        <textures>
            <paths type="string">./;./assets;./assets/textures;../Samples</paths>
            <extensions type="string">tga;png;jpg;dds;bmp;tif</extensions>
        </textures>
        <models>
            <paths type="string">./;./assets;./assets/models;../Samples</paths>
            <extensions type="string">fbx;gltf;glb;obj;3ds;dae;x</extensions>
        </models>
        <shaders>
            <paths type="string">./;./assets;./assets/shaders;../Samples</paths>
            <extensions type="string">vsh;fsh;gsh;esh;tsh</extensions>
        </shaders>
        <rendermethods>
            <paths type="string">./;./assets;./assets/shaders;../Samples</paths>
            <extensions type="string">c3rm</extensions>
        </rendermethods>
        <prototypes>
            <paths type="string">./;./assets;../Samples</paths>
            <extensions type="string">c3protoa</extensions>
        </prototypes>
        <animations>
            <paths type="string">./;./assets;./assets/animations;../Samples</paths>
            <extensions type="string">c3anim;xaf</extensions>
        </animations>
        <animstates>
            <paths type="string">./;./assets;./assets/animations;../Samples</paths>
            <extensions type="string">c3states</extensions>
        </animstates>
        <scripts>
            <paths type="string">./;./assets;./assets/scripts;../Samples;D:\proj\TurboCarnage\Assets\Scripts</paths>
            <extensions type="string">c3js</extensions>
        </scripts>
        <sounds>
            <paths type="string">./;./assets;./assets/sounds;../Samples</paths>
            <extensions type="string">wav;mp3;ogg</extensions>
        </sounds>
        <plugin>
            <path type="string">./</path>
        </plugin>
    </resources>
    <debug>
        <renderdoc>
            <capture_initialization value="true" type="bool"/>
            <path type="string">C:/Program Files/RenderDoc</path>
        </renderdoc>
    </debug>
    <environment>
        <editordraw value="false" type="bool"/>
        <movement>
            <speed type="float" value="3"/>
        </movement>
        <advancetime value="true" type="bool"/>
        <active>
            <tool value="1" type="int"/>
            <axis>
                <translation value="4" type="int"/>
                <rotation value="4" type="int"/>
                <scale value="3" type="int"/>
            </axis>
        </active>
        <hoverinfo value="false" type="bool"/>
        <camera>
            <lockroll value="true" type="bool"/>
        </camera>
        <sensitivity>
            <translation type="float" value="0.1"/>
            <rotation type="float" value="0.1"/>
            <scale type="float" value="0.1"/>
        </sensitivity>
    </environment>
    <properties>
        <showhidden value="false" type="bool"/>
    </properties>
    <gui>
        <resource_path_editor>
            <selection value="2" type="int"/>
        </resource_path_editor>
    </gui>
    <brush>
        <yaw>
            <apply value="true" type="bool"/>
            <min type="float" value="0"/>
            <max type="float" value="360"/>
            <detents>
                <apply value="true" type="bool"/>
                <val value="6" type="int"/>
            </detents>
        </yaw>
        <pitch>
            <apply value="false" type="bool"/>
            <min type="float" value="0"/>
            <max type="float" value="0"/>
            <detents>
                <apply value="false" type="bool"/>
                <val value="4" type="int"/>
            </detents>
        </pitch>
        <roll>
            <apply value="false" type="bool"/>
            <min type="float" value="0"/>
            <max type="float" value="0"/>
            <detents>
                <apply value="false" type="bool"/>
                <val value="4" type="int"/>
            </detents>
        </roll>
        <scale>
            <x>
                <apply value="true" type="bool"/>
                <min type="float" value="0.80000001"/>
                <max type="float" value="1.2"/>
            </x>
            <y>
                <apply value="true" type="bool"/>
                <min type="float" value="3"/>
                <max type="float" value="5"/>
            </y>
            <z>
                <apply value="true" type="bool"/>
                <min type="float" value="1"/>
                <max type="float" value="1"/>
            </z>
            <lockxy value="true" type="bool"/>
            <lockyz value="true" type="bool"/>
        </scale>
        <placemode value="4" type="int"/>
        <snap>
            <x>
                <apply value="true" type="bool"/>
                <val type="float" value="5"/>
            </x>
            <y>
                <apply value="true" type="bool"/>
                <val type="float" value="5"/>
            </y>
            <z>
                <apply value="true" type="bool"/>
                <val type="float" value="5"/>
            </z>
        </snap>
    </brush>
    <tools>
        <remap>
            <mode value="4" type="int"/>
        </remap>
    </tools>
</configuration>
